<form action="/api/sessions/login" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email" id=""><br>

    <label for="password">Constraseña</label>
    <input type="text" name="password" id="">

    <input type="submit" name="" id="" value="Login">
</form>